body{
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    font-stretch: ultra-expanded;
}

h1{
    font-size: 30px;
    text-align: center;
}

.crystals{
    display: flex;
    background-image: url(assets/images/spinningdiamond.gif);
    justify-content: space-between;
    align-items: center;
}
.crystal{
    border: 3px  solid white;
    height: 200px;
    width: 200px;
}

img{
    width: 50px;
}